@media (min-width: 1001px) {

    
    .container-1 .texto h1::after {

    content: "";
    display: inline-block;
    width: 45px; 
    height: 42px; 
    background-image: url('../Imagens/programacao.png'); 
    background-size: cover; 
    margin-left: 10px;
}
    .container-1 img {

        box-shadow: none;
    }
    .materiais img {

        box-shadow: none;
        width: 25%;
        margin-left: 30px;
    }
    .materiais .texto {

        word-spacing: normal;
        width: 540px;
        height: 114px;
        margin-left: 44px;
        margin-right: 120px;
    }
    .menu-list li:nth-child(1), .menu-list li:nth-child(2) {
        border-right: 1px solid rgba(0, 0, 0, 0.678);
        padding-right: 20px;
    }
    .menu-list li:nth-child(3) {
        
        border-right: none;
        
    }
    .materiais .image {

        width: 20%;
        margin-right: 108px;

    }
    .materiais .texto h1 {

        height: 39px;

    }

    
} 

@media (max-width: 1000px) { 

    .container-1 .texto h1::after {

        content: "";
        display: inline-block;
        width: 45px; 
        height: 42px; 
        background-image: url('../Imagens/programacao.png'); 
        background-size: cover; 
        margin-left: 10px;
    }
    .container-1 img {
    
        box-shadow: none;
    }
    .materiais img {
    
        box-shadow: none;
        width: 25%;
        margin-left: 30px;
    }
    .materiais .texto {
    
        word-spacing: normal;
        padding: 30px 30px 0px 50px;
        
    }
    .materiais .image {
    
        width: 250px;
    
    }
    .materiais .texto h1 {
        
        width: 95%;
        height: 50px;
        margin-right: 90px;
        text-align: left;
        
        

    }
    article .texto {

        margin: auto;
        padding-left: 50px;
        width: 100%;
    }
    article:nth-child(2) .texto p {

        margin-right: 20px;
        margin-top: 2.7em;
        
    }
    .texto p {
        margin-top: 30px;
        margin-right: 20px;
        font-size: 1.1em;

    }
    .texto { 

        margin-left: 0px;
        padding: 0px;
    }
    

}
